 Python cache files

pycache
.py[cod]

Virtual environment

.venv/
venv/
env/

Jupyter Notebook

.ipynb_checkpoints/

VS Code settings

.vscode/

Environment variables

.env

Operating system files

.DS_Store
Thumbs.db
Temporary files

.log
